// В этом файле должны быть стили для БЭМ-блока feedback-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback-form {

  $block-name:                &; // #{$block-name}__element
  @include row;

  .feedback-form__field {
    @include col();
    @include col(md, 4);
    margin-top: 0;
  }

  .field-checkbox {
    @include col();
    @media (max-width: ($screen-lg - 1)) {
      font-size: 14px;
    }
  }

  .field-text__input {
    border-color: #fff;
    color: #fff;
    background: transparent;

    &::placeholder {
      color: #fff;
      transition: opacity 0.3s;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
}
