// В этом файле должны быть стили для БЭМ-блока more-category, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.more-category {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-size: 30px;
    text-align: center;
    color: #000;
    font-weight: 400;
  }
}
