// В этом файле должны быть стили для БЭМ-блока slider-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider-form {

  $block-name:                &; // #{$block-name}__element
  color: #000;

  &__title {
    color: #000;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  &__field {
    .field-text__input {
      background: #ececec;
      border-color: #c8c8c8;
      color: #000;

      &::placeholder {
        color: #909090;
        transition: opacity 0.4s;
      }

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }

    .field-checkbox__name-text {
      color: #adadad;
      font-size: 13px;
    }
  }

  .btn {
    box-shadow: 0px 0px 35px -3px rgba(211,9,32,0.85);

    &:hover,
    &:focus {
      box-shadow: 0px 0px 15px -3px rgba(211,9,32,0.85);
    }
  }
}
