// В этом файле должны быть стили для БЭМ-блока footer-links, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-links {

  $block-name:                &; // #{$block-name}__element

  margin-top: 20px;
  display: flex;
  width: 100%;
  margin-left: 320px;

  @media (max-width: ($screen-xl - 1)) {
    margin-left: 0;
    margin-top: 40px;
  }

  @media (max-width: 810px) {
    flex-direction: column;
  }

  &__item {
    padding: 0 10px;
    flex-grow: 1;

    .social-links {
      margin-bottom: 25px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 0.4em;
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    li {
      line-height: 1.4;
      margin-bottom: 0.4em;
      a {
        color: #5b5b5b;
        font-size: 15px;
        text-decoration: none;

        &:hover,
        &:focus {
          color: #fff;
        }
      }

      &.active {

        a {
          color: #d30920;
        }
      }
    }

    &--lg {

      li {
        margin-bottom: 20px;

        a {
          text-transform: uppercase;
          display: block;
          font-size: 15px;
          line-height: 1.4;
          font-weight: 400;
          margin-bottom: 0.4em;
          color: #fff;
        }
      }
    }
  }
}
