// В этом файле должны быть стили для БЭМ-блока footer-links, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-links {

  $block-name:                &; // #{$block-name}__element

  max-width: 645px;
  margin-top: 20px;
  display: flex;

  @media (max-width: 810px) {
    flex-direction: column;
  }

  &__item {
    padding: 0 10px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 0.4em;
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 1.4;
      margin-bottom: 0.4em;
      a {
        color: #5b5b5b;
        font-size: 15px;
        text-decoration: none;

        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 1.4;
      margin-bottom: 0.8em;
      a {
        color: #5b5b5b;
        font-size: 15px;

        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }
  }
}
