// В этом файле должны быть стили для БЭМ-блока field-calc, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority


.field-calc {

  $block-name:                &; // #{$block-name}__element

  display: block;

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 100%;
    // height: 2.125em;
    padding: 4px 8px;
    margin: 0;
    line-height: $line-height;
    font-size: 1em;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid #989797;
    border-radius: $border-radius;
    appearance: textfield;

    &:focus {
      outline: none;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: #dadbdd;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: $text-color--muted;
      opacity: 1;
    }

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

}
