// В этом файле должны быть стили для БЭМ-блока main-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-info {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  flex-basis: 100%;
  flex-wrap: wrap;

  &__item {
    font-size: 18px;
    font-weight: 300;
    margin-right: 35px;
    padding-left: 25px;
    position: relative;

    a {
      text-decoration: none;
    }

    .icon {
      position: absolute;
      left: 0;
      top: 0;
    }

    &--call {
      margin-left: auto;
      margin-right: 0;
      padding-left: 0;
    }
  }

  &--header {
    flex-direction: column;
    align-items: flex-start;

    #{$block-name}__item {
      font-size: 16px;

      margin: 0 0 10px 0;

      .icon {
        fill: #5b646a;
        top: 1px;
      }

      // @media (max-width: 810px) {
      //   margin-bottom: 20px;
      //   &--call {
      //     margin-left: 0;
      //     margin-bottom: 0;
      //   }
      // }
      //
      // @media (max-width: 589px) {
      //   flex-basis: 100%;
      //   font-size: 14px;
      //   font-weight: 400;
      // }
    }

  }

  &--footer {
    #{$block-name}__item {
      .icon {
        fill: #fff;
      }
      @media (max-width: 810px) {
        margin-bottom: 20px;
        &--call {
          margin-left: 0;
          margin-bottom: 0;
        }
      }
      @media (max-width: 589px) {
        flex-basis: 100%;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
