// В этом файле должны быть стили для БЭМ-блока table-calc, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.table-calc {

  $block-name:                &; // #{$block-name}__element

  background: #eee;

  border-collapse: collapse;
  width: 100%;
  margin: $line-height 0;
  font-size: 13px;

  caption {
    padding-top: 0.4em;
    text-align: right;
    caption-side: bottom;
    font-size: $font-size--small;
    line-height: 1em;
    color: $text-color--muted;
  }

  td,
  th {
    padding: 1.9em 1em;
    vertical-align: top;

    border-bottom: 1px solid #d7d7d7;
    &:nth-child(2),
    &:nth-child(3) {
      background: #e4e4e4;
    }
  }

  th {
    text-align: left;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
  }

  &__field {
    .field-text__input {
      color: #000;
      background: transparent;
      padding: 0.5em 0.3em;
      text-align: right;
      border-color: #000;
      max-width: 105px;
    }
  }

  &__field-select {
    .field-select__select {
      color: #000;
      background-color: transparent;
      padding: 9px 15px 7px 7px;
      border-color: #000;
      max-width: 105px;
      background-size: 10px;

    }
  }

  &__price {
    font-size: 24px;
    span {
      font-size: 22px;
    }
  }

  &__header {
  }

  &__body {

    #{$block-name}__cell-title {
      font-weight: 700;
    }
  }

  &__footer {
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;

    td {
      padding: 1.5em 0.5em;
    }

    span {
      color: $color-main;
      font-weight: 700;
    }
  }

}
