// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background: $white;
  color: #5b646a;
  padding-top: 25px;
  padding-bottom: 20px;
  height: 152px;

  @media (max-width: ($menu-desktop-width - 1)) {
    padding-top: 70px;
    height: auto;

    .btn--black-outline {
      min-width: auto;
    }
  }

  &__inner {
      @include row;
      align-items: flex-start;

    #{$block-name}__logo {
      @include col();
      @include col(md, 3);
    }

    .logo-caption {
      @include col();
      @include col(md, 2);
    }

    #{$block-name}__info {
      @include col();
      @include col(md, 4);
    }

    #{$block-name}__call {
      @include col();
      @include col(md, 3);
    }

    @media (max-width: ($menu-desktop-width - 1)) {
      justify-content: flex-start;
    }

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
