// В этом файле должны быть стили для БЭМ-блока catalog-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-card {

  $block-name:                &; // #{$block-name}__element
  margin-bottom: 20px;

  &__inner {
    border-radius: 6px;
    border: 1px solid #c8c8c8;
  }

  &__image {
    height: 220px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__caption {
    padding: 25px 20px;
  }

  &__name {
    font-size: 18px;
    line-height: 1.4;
    min-height: 50px;
    color: #000;
    margin-bottom: 10px;
  }

  &__info {
    color: #a6a6a6;
    margin-bottom: 15px;

    .dia {
      font-size: 24px;
    }
  }

  &__price {
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;

    span {
      position: relative;
    }
  }
}
