// В этом файле должны быть стили для БЭМ-блока page-feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-feedback {

  $block-name:                &; // #{$block-name}__element
  margin-bottom: 50px;

  &__wrap {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 42px 0;
    border-radius: 6px;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }
  }

  &__inner {
    position: relative;
    z-index: 10;
    color: #fff;
    max-width: 858px;
    margin: auto;
  }

  &__title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  &__caption {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
  }
}
