// В этом файле должны быть стили для БЭМ-блока doc-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.doc-carousel {

  $block-name:                &; // #{$block-name}__element

  max-width: 1030px;
  margin: 0 auto 80px auto;
  padding: 0 60px;

  .owl-nav {
    .owl-prev,
    .owl-next {
      width: 55px;
      height: 65px;
      padding: 5px;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;

      svg {
        transition: all 0.3s;
        stroke: #000;
      }

      &:hover,
      &:focus {
        svg {
          stroke: $color-main;
        }
      }
    }

    .owl-prev {
      left: -10px;
    }

    .owl-next {
      right: -10px;
    }
  }
}
