// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: 0;
  margin-bottom: 0;

  &__title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    @media (max-width: ($screen-md - 1)) {
      font-size: 24px;
      line-height: 1.4;
    }
  }

  &__gallery {
    margin-bottom: 25px;
  }

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;

    .no-js & {
      display: none;
    }

  }

  &__link-wrap {
    position: relative;
    margin: 0 10px;


    &:not(:last-child) {
      border-right: none;
    }

    @media (max-width: ($screen-lg - 1)) {
      flex-basis: 100%;
      margin: 0;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media (max-width: ($screen-lg - 1)) {
      font-size: 14px;
    }

    &--active {

      #{$block-name}__link {
        color: #fff;
        background-color: $color-main;

        &:hover,
        &:focus {
          background-color: $color-main;
          color: #fff;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 0.7em 1em;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    background-color: #c8c8c8;
    border-radius: 6px;

    @media (max-width: ($screen-lg - 1)) {
      font-size: 12px;
    }

    &:hover,
    &:focus {
      color: #000;
      background-color: lighten(#c8c8c8, 5%);
    }
  }

  &__content-wrapper {
    display: block;
    padding: 20px 0 0 0;
  }

  &__content-item {

    .js & {
      display: none;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }

  &--contacts {

    #{$block-name}__links {
      justify-content: flex-start;

      &:after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: #e7e5e4;
      }
    }

    #{$block-name}__link-wrap {
      margin: 0;
      border-left: 1px solid #e7e5e4;

      &:last-child {
        border-right: 1px solid #e7e5e4;
      }

      @media (max-width: ($screen-lg - 1)) {
        border: 1px solid #e7e5e4;
      }

      &--active {

        #{$block-name}__link {
          color: #d30920;
          background-color: #fff;
          position: relative;

          &:before {
            content: "";
            height: 4px;
            width: 100%;
            position: absolute;
            background: #d30920;
            top: 0;
            left: 0;
            right: 0;
          }

          &:hover,
          &:focus {
            color: #d30920;
            background-color: #fff;
          }
        }
      }
    }

    #{$block-name}__link {
      min-width: 310px;
      text-align: center;
      background: #e2e1e1;
      font-size: 18px;
      color: #797878;
      text-transform: uppercase;
      border-radius: 0;

      &:hover,
      &:focus {
        background: #d30920;
        color: #fff;
      }
    }

    #{$block-name}__content-item {
      padding: 30px 0;
    }
  }
}
