// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  white-space: nowrap;
  margin-bottom: 15px;
}

.logo-caption {
  margin-bottom: 15px;
  padding: 0 30px;

  span {
    display: block;

    &:first-letter {
      text-transform: uppercase;
      color: #5b646a;
      font-weight: 500;
      font-size: 1.3em;
      letter-spacing: 1px;
    }
  }

  @media (max-width: ($screen-lg - 1)) {
    font-size: 12px;
    line-height: 1.3;
  }

  @media (max-width: 560px) {
    padding: 0;
  }
}
