// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background: $gray-darkest;
  color: #fff;
  padding: 35px 0;

  &__inner {
    @include row;
  }

  &__logo {
    @include col();
    @include col(xl, 3);
    @media (max-width: 810px) {
      margin-bottom: 15px;
    }
  }

  &__info {
    @include col();
    @include col(xl, 9);
    display: flex;
    align-items: center;
  }

  &__links {
    @include row;
    margin: 20px 0 0 0;

    .footer-links__item {
      @include col();
      @include col(xl, 3);
    }
  }

  .footer-links-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .btn--calculator {
      color: #fff;
      max-width: 115px;

      &:hover,
      &:focus {
        background: #4d4d4d;
      }
    }
  }

}
