// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 30px;

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__map {

  }

  &__part {
    position: relative;
    flex-grow: 1px;
    padding-left: 30px;
    margin-right: 25px;
    margin-bottom: 20px;

    .icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 1;
    font-weight: 300;
  }

  @media (max-width: ($screen-lg - 1)) {
    &__part {
      margin-bottom: 15px;
    }
    &__title {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
