// В этом файле должны быть стили для БЭМ-блока label, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$color-main:                  hsl(208, 98%, 43%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-radius:               3px !default;

.label {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  position: relative;
  margin: 0 0.1em;
  vertical-align: baseline;
  line-height: 1;
  padding: 1em 0.2em;
  background-color: #fff;
  color: $text-color;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  border: 2px solid $color-main;
  border-radius: 30px;
  min-width: 165px;

  @media (max-width: ($screen-lg - 1)) {
    font-size: 14px;
    min-width: 130px;
  }

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
  }

  // &--main {
  //   background-color: $color-main;
  //   color: #fff;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //   }
  // }
}
