// В этом файле должны быть стили для БЭМ-блока page-title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-title {

  $block-name:                &; // #{$block-name}__element

  color: #000;
  font-weight: 400;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  margin: 30px 0 25px;
  overflow: hidden;

  &--center {
    text-align: center;
  }
}
